@{
    ViewData["Title"] = "ArtSofteEmploees";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>ArtSofteEmployees веб-приложение для переписи сотрудников в ArtSofte.</p>
</div>
